html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-custom {
    box-shadow: 1.8rem -1.8rem #99c300;
  }

  .shadow-custom-why-choose-us {
    box-shadow: 30.8rem 4rem #99c300;
  }
}

@media (max-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  border-radius: 100%;
  padding: 2rem;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.2);
}

blockquote:before {
  font-family: 'Prata';
  position: absolute;
  content: '\201C';
  font-size: 4em;
  color: #ffffff;
  margin-left: -0.6em;
  margin-top: 0.2em;
}
