@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Raleway:wght@200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-custom {
    box-shadow: 1.8rem -1.8rem #99c300;
  }

  .shadow-custom-why-choose-us {
    box-shadow: 30.8rem 4rem #99c300;
  }
}

@media (max-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  border-radius: 100%;
  padding: 2rem;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.2);
}

blockquote:before {
  font-family: "Prata";
  position: absolute;
  content: "\201C";
  font-size: 4em;
  color: #ffffff;
  margin-left: -0.6em;
  margin-top: 0.2em;
}

.azra-content blockquote {
  margin: 1em auto auto 2em;
}

.azra-content ul {
  font-size: initial;
  list-style: inside;
}

.azra-content ul li {
  font-size: initial;
}

.azra-content blockquote:before {
  font-family: "Prata";
  position: absolute;
  content: "\201C";
  font-size: 4em;
  color: #99c300;
  margin-left: -0.6em;
  margin-top: 0.2em;
}

.azra-content p {
  font-size: initial;
}

.azra-content a {
  color: #99c300;
}

.azra-content h1 {
  font-size: xx-large;
}

.azra-content h2 {
  font-size: x-large;
}
.indexContainer :not(.popupform) {
  filter: blur(2px);
}
.popupform {
  filter: blur(0);
}
.toggles {
  translate: -16rem;
  transition: 0.3s;
}
.toggles:hover {
  translate: 0;
  transition: 0.3s;
  cursor: pointer;
}
